/Practica01/Convertidor_de_unidades/target/
/Practica02/gymmanager/target/
/Practica03/gymmanager2/nbproject/private/
/Practica04/gymmanager3/nbproject/private/
/Practica05/gymmanager4/nbproject/private/
/Practica05/gymmanager4/build/
/Practica05/gymmanager4/dist/
/Practica06/gymmanager5/target/
/Practica07/Gymmanager6/target/
/Practica11/Gymmanager10/target/
